    
<div class="header">
  <div class="container">
    <h1>threadly</h1>
  </div>
</div>
<div class="main">
  <div class="container">
    <!-- Form goes here -->
    <ul class="comments">
      <li>Have you felt it?</li>
      <li>There has been an awakening.</li>
    </ul>
  </div>
</div>
